#signup {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    h1 {
        text-align: center;
        font-size: xx-large;
    }
    p {
        text-align: center;
    }
    input {
        margin-left: auto;
        margin-right: auto;
    }
    #register-form {
        padding-top: 30px;;
    }
}